packages/cdh-lava-core/cdh_lava_core-1.0.20250123.tar.gz/cdh_lava_core-1.0.20250123/cdh_lava_core/cdc_azure/datafactory/pipeline/decompress_files.json
{
	"name": "decompress_files",
	"properties": {
		"activities": [
			{
				"name": "Copy Files",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.src_adls_file_path_directory",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.src_adls_file_path_file_name",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": {
						"value": "@pipeline().parameters.copy_parallelism_degree",
						"type": "Expression"
					},
					"dataIntegrationUnits": {
						"value": "@pipeline().parameters.data_integration_unit",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "adls_dataset_compress",
						"type": "DatasetReference",
						"parameters": {
							"datalake_storage_account_name": {
								"value": "@pipeline().parameters.src_adls_storage_account_name",
								"type": "Expression"
							},
							"adls_file_path_system": {
								"value": "@pipeline().parameters.src_adls_file_path_system",
								"type": "Expression"
							},
							"adls_file_path_directory": {
								"value": "@pipeline().parameters.src_adls_file_path_directory",
								"type": "Expression"
							},
							"adls_file_path_file_name": {
								"value": "@pipeline().parameters.src_adls_file_path_file_name",
								"type": "Expression"
							},
							"adls_compression_type": {
								"value": "@pipeline().parameters.compression_type",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_dataset_external",
						"type": "DatasetReference",
						"parameters": {
							"datalake_storage_account_name": {
								"value": "@pipeline().parameters.dest_adls_storage_account_name",
								"type": "Expression"
							},
							"adls_file_path_system": {
								"value": "@pipeline().parameters.dest_adls_file_path_system",
								"type": "Expression"
							},
							"adls_file_path_directory": {
								"value": "@pipeline().parameters.dest_adls_file_path_directory",
								"type": "Expression"
							},
							"adls_file_path_file_name": {
								"value": "@coalesce(null)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Status Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Files",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "success_status",
					"value": false
				}
			},
			{
				"name": "Status Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "success_status",
					"value": true
				}
			},
			{
				"name": "Publish Status",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Status Success",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					},
					{
						"activity": "Status Failure",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "publish_pipeline_status",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ran_successfully": {
							"value": "@variables('success_status')",
							"type": "Expression"
						},
						"data_source": {
							"value": "@pipeline().parameters.data_source",
							"type": "Expression"
						},
						"workflow_id": {
							"value": "@pipeline().parameters.workflow_id",
							"type": "Expression"
						},
						"request_id": {
							"value": "@pipeline().parameters.request_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"src_adls_storage_account_name": {
				"type": "string"
			},
			"src_adls_file_path_system": {
				"type": "string"
			},
			"src_adls_file_path_directory": {
				"type": "string"
			},
			"src_adls_file_path_file_name": {
				"type": "string"
			},
			"copy_parallelism_degree": {
				"type": "int",
				"defaultValue": 24
			},
			"data_source": {
				"type": "string"
			},
			"workflow_id": {
				"type": "string"
			},
			"request_id": {
				"type": "string"
			},
			"delivery_date": {
				"type": "string"
			},
			"dest_adls_storage_account_name": {
				"type": "string"
			},
			"dest_adls_file_path_system": {
				"type": "string"
			},
			"dest_adls_file_path_directory": {
				"type": "string"
			},
			"compression_type": {
				"type": "string"
			},
			"data_integration_unit": {
				"type": "int",
				"defaultValue": 48
			}
		},
		"variables": {
			"success_status": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "transfer"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-22T04:24:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}