packages/cdh-lava-core/cdh_lava_core-1.0.20250123.tar.gz/cdh_lava_core-1.0.20250123/cdh_lava_core/cdc_azure/datafactory/pipeline/publish_pipeline_status.json
{
	"name": "publish_pipeline_status",
	"properties": {
		"activities": [
			{
				"name": "Get Function Url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Key Vault Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('key_vault_url')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "Azure-VNET-IR",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Key Vault Url",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "key_vault_url",
					"value": {
						"value": "@concat('https://', \npipeline().globalParameters.key_vault_name,\n'.vault.azure.net/secrets/cdh-event-publish-func-url?api-version=7.0')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Function Url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Function Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "publish_event_func_url",
					"value": {
						"value": "@activity('Get Function Url').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Event Payload",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pipeline Status Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "event_payload",
					"value": {
						"value": "@concat('\n {\n    \"data_source\": \"',pipeline().parameters.data_source,'\",\n    \"workflow_id\": \"',pipeline().parameters.workflow_id,'\",\n    \"request_id\": \"',pipeline().parameters.request_id,'\",\n    \"event_source\": \"','adf','\",\n    \"status\": \"',variables('status'),'\",\n    \"event_time_utc\": \"',utcNow('yyyy-MM-ddTHH:mm:ssZ'),'\"\n  }')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Pipeline Status Success",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Function Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.ran_successfully",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Status Failure",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "Failed"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Status Success",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "Succeeded"
							}
						}
					]
				}
			},
			{
				"name": "If Isolated Mode",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Event Payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(toUpper(pipeline().parameters.workflow_id), 'ISOLATED')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Publish Event",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@variables('publish_event_func_url')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "SelfHosted-IR",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"value": "@variables('event_payload')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ran_successfully": {
				"type": "bool"
			},
			"data_source": {
				"type": "string"
			},
			"workflow_id": {
				"type": "string"
			},
			"request_id": {
				"type": "string"
			}
		},
		"variables": {
			"key_vault_url": {
				"type": "String"
			},
			"publish_event_func_url": {
				"type": "String"
			},
			"event_payload": {
				"type": "String"
			},
			"status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "shared"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-23T16:20:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}