packages/cdh-lava-core/cdh_lava_core-1.0.20250123-py3-none-any.whl/cdh_lava_core/cdc_azure/datafactory/pipeline/archive_files.json
{
	"name": "archive_files",
	"properties": {
		"activities": [
			{
				"name": "Get dirs to archive",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lookup_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"datalake_storage_account_name": {
								"value": "@pipeline().parameters.adls_storage_account_name",
								"type": "Expression"
							},
							"file_system": {
								"value": "@pipeline().parameters.adls_file_path_system",
								"type": "Expression"
							},
							"file_directory": {
								"value": "@pipeline().parameters.archive_dirs_file_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@coalesce(null)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each raw delivery date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get dirs to archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get dirs to archive').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Archive",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "adls_dataset",
									"type": "DatasetReference",
									"parameters": {
										"datalake_storage_account_name": {
											"value": "@pipeline().parameters.adls_storage_account_name",
											"type": "Expression"
										},
										"adls_file_path_system": {
											"value": "@pipeline().parameters.adls_file_path_system",
											"type": "Expression"
										},
										"adls_file_path_directory": {
											"value": "@item().sourceFolderName",
											"type": "Expression"
										},
										"adls_file_path_file_name": {
											"value": "@coalesce(null)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_dataset",
									"type": "DatasetReference",
									"parameters": {
										"datalake_storage_account_name": {
											"value": "@pipeline().parameters.adls_storage_account_name",
											"type": "Expression"
										},
										"adls_file_path_system": {
											"value": "@pipeline().parameters.adls_file_path_system",
											"type": "Expression"
										},
										"adls_file_path_directory": {
											"value": "@item().destinationFolderName",
											"type": "Expression"
										},
										"adls_file_path_file_name": {
											"value": "@coalesce(null)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Status Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "For each raw delivery date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "success_status",
					"value": true
				}
			},
			{
				"name": "Status Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "For each raw delivery date",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "success_status",
					"value": false
				}
			},
			{
				"name": "Publish Status",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Status Success",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					},
					{
						"activity": "Status Failure",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "publish_pipeline_status",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ran_successfully": {
							"value": "@variables('success_status')",
							"type": "Expression"
						},
						"data_source": {
							"value": "@pipeline().parameters.data_source",
							"type": "Expression"
						},
						"workflow_id": {
							"value": "@pipeline().parameters.workflow_id",
							"type": "Expression"
						},
						"request_id": {
							"value": "@pipeline().parameters.request_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"adls_storage_account_name": {
				"type": "string"
			},
			"adls_file_path_system": {
				"type": "string",
				"defaultValue": "cdh"
			},
			"copy_parallelism_degree": {
				"type": "int",
				"defaultValue": 24
			},
			"data_source": {
				"type": "string"
			},
			"workflow_id": {
				"type": "string"
			},
			"request_id": {
				"type": "string"
			},
			"delivery_date": {
				"type": "string"
			},
			"data_integration_unit": {
				"type": "int",
				"defaultValue": 48
			},
			"archive_dirs_file_path": {
				"type": "string"
			}
		},
		"variables": {
			"transfer_status_success": {
				"type": "Boolean"
			},
			"success_status": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "transfer"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-22T04:24:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}